.result-row:hover {
  background-color: #e7f4e4;
  cursor: pointer;
}



.button-grey, 
a.button-grey,
a.button-grey:visited {
  background-color: #aeb0b5;
  color: #000;
  margin-right: 3px;
}
.button-grey:hover,
.button-grey:focus {
  background-color: #323a45;
  color: #fff;
}
.button-grey:active {
  background-color: #212121;
  color: #fff;
}



.button-white,
a.button-white,
a.button-white:visited,
#select-all-saved-btn,
#select-all-btn,
#deselect-all-btn,
#deselect-all-saved-btn,
#remove-selected-btn,
#remove-selected-btn:visited,
#export-selected-btn,
#export-btn,
#export-selected-btn:visited,
#export-btn:visited,
#save-selected-btn,
#save-selected-btn:visited,

#select-roles,
#select-subroles,
#deselect-roles,
#deselect-subroles,



#select-fundamental-objectives,
#deselect-fundamental-objectives,

#select-objectives,
#deselect-objectives,

#select-concepts,
#deselect-concepts,
#expand-concepts

{
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0071bc;
  color: #0071bc;
  margin-right: 3px;
}
.button-white:hover,
.button-white:focus,
a.button-white:hover,
a.button-white:focus,

#select-roles:hover,
#select-roles:focus,
#deselect-roles:hover,
#deselect-roles:focus,

#select-subroles:hover,
#select-subroles:focus,
#deselect-subroles:hover,
#deselect-subroles:focus,


#select-fundamental-objectives:hover,
#select-fnndamental-objectives:focus,
#deselect-fundamental-objectives:hover,
#deselect-fundamental-objectives:focus,


#select-objectives:hover,
#select-objectives:focus,
#deselect-objectives:hover,
#deselect-objectives:focus,

#select-concepts:hover,
#select-concepts:focus,
#deselect-concepts:hover,
#deselect-concepts:focus,

#select-all-saved-btn:hover,
#select-all-saved-btn:focus,
#select-all-btn:hover,
#select-all-btn:focus,
#deselect-all-saved-btn:hover,
#deselect-all-saved-btn:focus,
#deselect-all-btn:hover,
#deselect-all-btn:focus,

#expand-concepts:hover,
#expand-concepts:focus,


#remove-selected-btn:hover,
#remove-selected-btn:focus,
#export-selected-btn:hover,
#export-btn:hover,
#export-selected-btn:focus,
#export-btn:focus,
#save-selected-btn:hover,
#save-selected-btn:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #205493;
  color: #205493;
}
.button-white:active,
a.button-white:active,
#select-all-saved-btn:active,
#select-all-btn:active,
#deselect-all-saved-btn:active,
#deselect-all-btn:active,


#select-roles:active,
#select-subroles:active,
#deselect-roles:active,
#deselect-subroles:active,



#select-fundamental-objectives:active,
#deselect-fundamental-objectives:active,

#select-objectives:active,
#deselect-objectives:active,

#select-concepts:active,
#deselect-concepts:active,
#expand-concepts:active,


#remove-selected-btn:active,
#export-selected-btn:active,
#export-btn:active,
#save-selected-btn:active {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #112e51;
  color: #112e51;
}
.button-white:disabled,
#remove-selected-btn:disabled,
#export-selected-btn:disabled,
#export-btn:disabled,
#save-selected-btn:disabled {
  background-color: #aeb0b5;
  color: #fff;
  pointer-events: none;
  box-shadow: inset 0 0 0 0;
}
/* Adjustment for DataTables buttons */
a.button {
  margin-right: 3px;
}
table.dataTable td.select-checkbox:before,
table.dataTable td.select-checkbox:after {
  top: initial;
}
#role,
#subrole,
#fundamental-objective,
#objective,
#concept,
#selected-tool {
  clear: both;
}
.remove-content {
  border: 1px solid red;
}
.add-content {
  border: 1px solid green;
}
.right {
  float: right;
}
/* #browse-list button, #saved-list button, #results-list button {
	width: calc(100% - 2em);
  display: block;
  margin: auto;
  padding: .2em;
  float: none !important;
} */
#loader {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}
tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #dce4ef;
}
/* make results responsive */
tr:hover td:not(:first-child) {
  background-color: #e7f4e4;
}
.dt-body-center > input[type='checkbox'] + label:before {
  margin: 0;
}
#feedback-text {
  width: 100%;
}
#feedback-modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#modal-content {
  background-color: #f1f1f1;
  border: 1px solid #aeb0b5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  padding: 0;
  position: relative;
  width: 80%;
  max-width: 50em;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
#close-modal {
  color: white;
  line-height: 0.5em;
  float: right;
  font-size: 1.5em;
}
#close-modal:hover,
#close-modal:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
#modal-header {
  background-color: #2e8540;
  color: #fff;
  padding: 0.9em 1em 0 1em;
}
#modal-body {
  padding: 2px 16px;
}
#modal-footer {
  background-color: #4aa564;
  color: white;
  padding: 2px 16px;
}
@media screen and (max-width: 39.9375em) {
  #feedback-modal {
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    min-height: 100vh;
    margin-left: 0;
    border: 0;
    border-radius: 0;
    padding-top: 0;
  }
  #modal-content {
    width: 100%;
  }
  #submit-feedback {
    width: 100%; 
  }
  button,
  a.button,
  .dt-button {
    width: 100%;
  }
}
.full-width {
  width: 100%;
}
/* position at the top of the screen */
#toast,
#notice {
  display: none; /* Hidden by default. Visible on click */
  left: 0;
  width: 100%;
  background-color: #212121; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 1em; /* Padding */
  opacity: 1;
  transition: opacity 0.5s; /* 600ms to fade out */
  z-index: 2;
}
/* Show the notification. Show and animate with addition of class. */
#toast.show,
.notice.show {
  display: initial; /* Show the notification */
  position: fixed; /* fix the notification place over page */
  top: 0px;
  margin: 0 auto;
  /* Add animation: Take 0.5 seconds to fade in and out the notification. 
  However, delay the fade out process for 5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 20s;
  animation: fadein 0.5s, fadeout 0.5s 20s;
}
/* Animations to slide toast in and out */
@keyframes fadein {
  from {top: 100%; opacity: 0;}
  to {top: 0; opacity: 1;}
}
@keyframes fadeout {
  from {top: 0; opacity: 1;}
  to {top: 100%; opacity: 0;}
}
.unselectable { /* Makes text in an element unselectable */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toast-close-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 0
}
.toast-close-button:hover {
  color: #212121!important;
  background-color: #e4e2e0!important
}
.main-column .toast-button {
  margin: 0 auto;
  display: block;
  padding: 0.2941em 0.58825em;
}
/** Transitions ***************************************************************/
#tabsnav *,
#tabsnav *:before,
#tabsnav *:after {
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
          transition: all .25s linear;
}

/* shared */
.bold {
  font-weight: bold;
}
.red {
  color: #e31c3d;
}
hr {
  clear: both;
}
.tabs,
.tabs > li {
  margin-bottom: 0;
  border: none;
}
.collapsible {
  transform: rotateX(180deg);
}
.expand:hover {
  background-color: #e7f4e4;
  cursor: pointer;
}
.expand {
  margin: 0;
}
.list-div {
  background-color: #f1f1f1;
  border: 1px solid rgba(0,0,0,.125);
  margin-top: 0.5em;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
[role=tab] {
  margin: 1px 0 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
[role=tabpanel] {
  padding: 0.5em;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.main-column [aria-hidden="true"] {
  display: none;
}
.results-label {
  display: inline;
  background-color: transparent;
}
.tool-label:focus + label {
  background-color: #e1f3f8;
}
.tool-label:checked + label {
  background-color: #d6d7d9;
}
button:disabled {
  background-color: #aeb0b5
}
.main-column table {
  width: 100%;
}
.light-gray {
  background-color: #d6d7d9;
  border-radius: 3px;
  padding: 1em 1em 1em 1em;
  margin-bottom: .4em;
}
.export-radio,
#export-radio1,
#export-radio2 {
  display: inline;
  margin:5px 5px 25.5px 5px;
}
.export-radio > label,
#export-radio1 > label,
#export-radio2 > label {
  display: inline;
  margin:5px 5px 25.5px 5px;
}

.dataTables_filter {
  margin-right: 5px;
}

/* .main-column button {
  margin-right: 3px;
} */

table.dataTable tbody td {
  vertical-align: top;
}

input[type="checkbox"]:focus + label::before {
  outline: 2px solid Highlight;
}
input[type="radio"]:focus + label::before {
  outline: 2px solid Highlight;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.show-details-btn {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
  display: block;
  float: none !important;
  margin: auto;
  padding: 0.5rem;
  width: calc(100% - 1em);
}
.show-details-tbl-btn {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
  display: block;
  float: none !important;
  margin: 1em 0 0 0;
  padding: 0.5rem;
  width: 100%;
}
.dataTables_filter input[type="search"] {
  margin: 0 0 1em 0.5em;
}
#ss-load-wrapper,
#as-load-wrapper,
#rl-load-wrapper,
#b-load-wrapper {
  background-color: #fff;
  /* padding-bottom: 1.5em; */
  z-index: 99;
}
@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { tranform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#ss-loader,
#as-loader,
#rl-loader,
#b-load-wrapper {
  z-index: 999;
  border: 8px solid #bebdbd;
  border-top: 8px solid #333;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
