@charset "utf-8";
/* CSS Document */
table.noborder td
{
	border:0;	
}
#tabsResults
{
	overflow-x:scroll;
}

.ui-autocomplete {
    max-height: 20em;
    max-width: 40em;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: auto;
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
   height: 100px;
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}

/* make results responsive */
tr:hover td:not(:first-child) {
  background-color: #e7f4e4;
  cursor: pointer;
}