#tabs-nav {
  padding: 0
}
/* don't initially display "no results returned from search" */
#simpleFeedback {
  display: none;
  background-color: rgb(221, 206, 204);
}
#detailed-search-feedback { 
  display: none; 
  background-color: rgb(221, 206, 204);
}
/************* ADDED FROM MOCKUP.HTML ************/

@media screen and (min-width: 45em), print and (min-width: 45em) {
  .row > .size-95of100.col {
    width: 95%;
  }
}
.option {
  margin-right: 1.4rem;
}
.search-input {
  width: 40em;
}
.accordion-pane {
  display: none;
}
table.noborder td {
  border:0; 
}
#tabsResults {
  overflow-x:scroll;
}
.ui-autocomplete {
  max-height: 20em;
  max-width: 40em;
  overflow-y: auto;
  overflow-x: auto; /* prevent horizontal scrollbar */
}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 100px;
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}
