@media screen and (min-width: 45em), print and (min-width: 45em) {
  .row > .size-95of100.col {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .navbar {
    overflow: hidden;
    background: rgb(50, 58, 69);
    background: rgba(50, 58, 69, 0.75);
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    z-index: 999;
  }
  .navbar button {
    margin: 0.2em 0 0.2em 0;
  }
  .navbar div {
    margin: 0.2em 0 0.2em 0;
    border-radius: 0; 
  }
}
label {
  border-radius: 0.5em;
}
.success {
  border: 0.5em solid #e7f4e4;
  border-radius: 0.5em;
  background-color: #e7f4e4;
  margin-bottom: 1.5em;
  padding: 0;
}
.warning {
  border: 0.5em solid #fff1d2;
  border-radius: 0.5em;
  background-color: #fff1d2;
  color: #000;
  margin-bottom: 1.5em;
}
#results-container {
  border: 2px solid #d6d7d9;
  margin: 1em 0 0 0;
  padding: 0.5em;
}
.tool-label:focus + label {
  background-color: #e1f3f8;
}
.tool-label:checked + label {
  background-color: #d6d7d9;
}
.accordian-result {
  background-image: url(https://www.epa.gov/sites/all/themes/epa/img/arrow-alt-down.png);
  background-repeat: no-repeat;
  float: right;
  height: 13px;
  margin: 5px;
  width: 13px;
}
#results-notification {
  width: 100%;
  padding-top: 0.2em;
  height: 2em;
  border: 0.4em;
}
.icon-button,
.icon-button:hover,
.icon-button:focus,
#role-help-button,
#role-help-button:hover,
#role-help-button:focus,
#subrole-help-button,
#subrole-help-button:hover,
#subrole-help-button:focus,
#fundamental-objective-help-button,
#fundamental-objective-help-button:hover,
#fundamental-objective-help-button:focus,
#objective-help-button,
#objective-help-button:hover,
#objective-help-button:focus,
#concept-help-button,
#concept-help-button:hover,
#concept-help-button:focus {
  background: transparent;
  border: none;
  width: auto;
  margin: 0;
}

.icon-img,
#role-help-button > img,
#subrole-help-button > img,
#fundamental-objective-help-button > img,
#objective-help-button > img,
#concept-help-button > img {
  width: 2em;
}
#role-help-button:focus,
#subrole-help-button:focus,
#fundamental-objective-help-button:focus,
#objective-help-button:focus,
#concept-help-button:focus {
  outline: 2px solid Highlight;
}
.navbar {
  display: inline;
}
#tabsnav {
  list-style: none;
  padding-bottom: 0;
  padding-left: 3.3%;
}
#tabsnav li {
  padding-left: 0; /* override s.css */
  padding-right: 0; /* override s.css */
}
#tabsnav li a {
  background: #0071bc;
  border-radius: 0 !important; /* override s.css */
  color: #fff;
  float: left;
  font-size: 17px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 0 5px 0 0;
  padding: 0px 16px 0 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
#tabsnav li a:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #0071bc;
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 1;
}
#tabsnav li a:before {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fff;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}
#tabsnav li:first-child a {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  padding-left: 15px;
}
#tabsnav li:first-child a:before {
  display: none;
}
#tabsnav li:last-child a {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  /* padding-right: 15px; */
}
#tabsnav li:last-child a:after {
  display: none;
}
#tabsnav li a:hover,
#tabsnav li a:focus {
  background: #205493;
  color: #fff;
}
#tabsnav li a.active {
  background: #112e51;
  color: #fff;
}
#tabsnav li a:hover:after,
#tabsnav li a:focus:after {
  border-left-color: #205493;
}
#tabsnav li a.active:after {
  border-left-color: #112e51;
}
@media (max-width: 1000px) {
  #tabsnav {
    display: block;
  }
  #tabsnav li {
    width: 100%;
  }
  #tabsnav li a {
    float: none;
    padding: 0;
    margin: 0 0 5px 0; 
  }
  #tabsnav li a:before,
  #tabsnav li a:after {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }
  #tabsnav li:first-child a {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 0;
  }
  #tabsnav li:last-child a {
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 0;
  }
}
@media screen and (min-width: 481px) {
  .small-button {
    margin: 0 0 0 0.5em;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em 0.5em;
  }
}
.small-button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0071bc;
  color: #0071bc;
  margin-right: 3px;
}
.small-button:hover,
.small-button:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #205493;
  color: #205493;
}
.small-button:active {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #112e51;
  color: #112e51;
}
.tool-label {
  padding: .1em 0.5em;
  margin-bottom: 0.1em;
}
.subclass {
  padding-left: 1.5em;
}
.tool-count {
  background: #e1f3f8;
  color: #212121;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
}
.new-item {
  background: #4aa564;
  color: #212121;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  border-radius: 0.5em;
}
.pagetop {
  clear: both;
}
#bottom-bar {
  display: block;
  margin-top: 1.5em;
}
@media screen and (max-width: 480px) {
  #bottom-bar {
    display: none;
  }
}